@import "./reset";

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: white;

  @media (max-width: 1500px) {
    font-size: 14px;
    text-align: center;
  }
  @media (max-width: 767px) {
    font-size: 13px;
    text-align: center;
  }
}

.s-container {
  width: 100%;
  overflow: hidden;
  margin-top: 4rem;
  margin-bottom: 4rem;
  //swiper bagenation

  //swiper buttons
  .swiper-button-prev,
  .swiper-button-next {
    color: #b3b3b3;
    font-weight: 800;

    &:after {
      font-size: 1rem;
    }
  }

  .swiper-button-prev {
    left: -3rem;

    @media (max-width: 768px) {
      left: 1rem;
    }
  }

  .swiper-button-next {
    right: -3rem;
    @media (max-width: 768px) {
      right: 1rem;
    }
  }

  .swiper-slide {
    .product-img {
      text-align: center;
      background-color: #f7f7f7;
      margin-bottom: 1rem;
      height: 210px;
      img {
        transition: all 0.5s;
        max-height: 100%;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }

      .ico {
        width: fit-content;
        position: absolute;
        top: 0.5rem;
        padding: 0.3rem 1rem;
        border-radius: 1rem;
        color: white;
        font-size: 0.75rem;
      }
      .ico-sale {
        background-color: $color2;
        right: 0.5rem;
      }
      .ico-new {
        background-color: #0dc143;
        left: 0.5rem;
      }
    }

    .product-disc {
      h5 {
        min-height: 7rem;
        font-size: 19px;
        text-align: center;

        a {
          color: black;
        }
      }
      .price {
        margin-top: 1rem;
        color: #6d8ba7;
        font-weight: 700;
        font-size: 19px;

        .price-sale {
          text-decoration: line-through;
          color: gray;
          margin-right: 1rem;
          font-size: 16px;
          font-weight: 500;
          display: flex;
        }

        span {
          margin-left: 3px;
        }
      }
    }

    .buy {
      margin-top: 1rem;

      .btn-outline-dark {
        border-color: rgba(128, 128, 128, 0.5);
      }
    }
    .btn:nth-child(1) {
      margin-right: 5px;
    }
  }
}

.s-head {
  margin-bottom: 2rem;

  h4 {
    font-size: 25px;
  }
}

.banner {
  justify-content: space-around;
  flex: 0 0 49%;
  max-width: 49%;
  background-image: url("../img/banners/Vector\ Smart\ Object@1X.png");
  background-position: center top;
  background-size: auto;
  background-repeat: no-repeat;
  padding: 2rem 2rem;

  @media (max-width: 768px) {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 2rem;
  }
  @media (max-width: 576px) {
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  div {
    flex: 0 0 48%;
    max-width: 48%;
    @media (max-width: 576px) {
      flex: 0 0 95%;
      max-width: 95%;
    }

    h2 {
      @media (max-width: 576px) {
        text-align: center;
      }
    }
  }
  .banner-img {
    text-align: center;
    img {
      max-width: 100%;

      @media (max-width: 576px) {
        max-width: 60%;
      }
    }
  }

  h2 {
    color: $color1;
    @media (max-width: 576px) {
      font-size: 1.2rem;
    }
  }
}

.dropdown {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 5px;

  a {
    color: black;

    &:hover {
      color: $color2;
    }
  }

  .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    width: max-content;
    top: 102%;
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 25px;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s;

    &:before {
      content: "";
      width: 0;
      height: 0;
      display: block;
      border-width: 6px;
      border-color: transparent transparent #ffffff;
      border-style: solid;
      top: -12px;
      position: absolute;
      right: 50%;
      transform: translateX(50%);
    }
  }
}

.dropdown:hover {
  .dropdown-content {
    z-index: 15;
    opacity: 1;
  }
}

header {
  box-shadow: 0px 1px 15px 1px rgba(128, 128, 128, 0.3);
  .lang {
    height: 2.5rem;
    width: 100%;
    background-color: $color1;

    @media (max-width: 992px) {
      display: none;
    }

    .container {
      display: flex;
    }
    .prefix {
      display: flex;

      .dropdown {
        border: none;
        color: white;
        position: relative;
        padding-left: 1rem;
        margin-right: 25px;
        margin-top: 0.4rem;
        height: fit-content;

        &:focus {
          outline: none;
        }
      }
    }
    .greet {
      margin: 0.5rem;

      p {
        color: #e9edf1;
      }
    }
  }

  .header-logo {
    margin-top: 2rem;

    @media (max-width: 992px) {
      margin-top: 0;
      padding: 10px 0;
    }

    .sign {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 1.1rem;

      @media (max-width: 992px) {
        margin: 0 !important;
      }
      @media (max-width: 500px) {
        padding: 0;
      }

      .cart {
        height: 45px;
        width: 45px;
        background-color: $color1;
        border-radius: 100%;
        position: relative;
        cursor: pointer;
        color: white;
        font-size: 18px;
        transition: all 0.5s;

        @media (max-width: 400px) {
          height: 35px;
          width: 35px;
          font-size: 14px;
        }

        &:hover {
          background-color: $color2;
          .num {
            transform: rotateY(360deg);
            background-color: $color1;
          }
        }

        .num {
          height: 24px;
          width: 24px;
          background-color: #ce9732;
          border-radius: 100%;
          position: absolute;
          top: -7px;
          right: -7px;
          border: 1px solid white;
          font-size: 16px;
          transition: all 0.5s;

          @media (max-width: 400px) {
            height: 18px;
            width: 18px;
            font-size: 12px;
          }
        }
      }

      .link {
        margin-left: 2rem;

        @media (max-width: 992px) {
          display: none;
        }
        a {
          color: black;
          transition: all 0.5s;

          &:hover {
            color: $color2;
          }
        }
      }

      .cart-small {
        font-size: 18px;
        color: $color1;
        display: none;

        @media (max-width: 992px) {
          display: flex;
        }

        div {
          margin-left: 2rem;
          cursor: pointer;
        }
      }
    }

    .search {
      @media (max-width: 992px) {
        display: none;
      }
      form {
        width: 100%;
        height: 100%;

        @media (max-width: 500px) {
          padding: 0;
        }

        .form-group {
          width: 100%;
          height: 100%;
          position: relative;
        }

        input {
          width: 70%;
          height: 3rem;
          border-top-left-radius: 2rem;
          border-bottom-left-radius: 2rem;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          text-align: right;
          padding: 0.5rem;

          @media (max-width: 768px) {
            width: 50%;
          }
        }

        a {
          color: rgb(14, 13, 13);
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translate(0, -50%);
          font-size: 1.2rem;
          font-weight: 600;
          transition: all 0.5s;

          @media (max-width: 500px) {
            left: 10px;
          }

          &:hover {
            color: black;
          }
        }
        select {
          width: 30%;
          height: 3rem;
          border-top-right-radius: 2rem;
          border-bottom-right-radius: 2rem;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          background-color: #f5f5f5;
          border-color: #e0e0e0;
          text-align: right;
          outline: none;
          position: relative;
          background-image: url(../img/icons/arrow-dark.png);
          background-repeat: no-repeat;
          -webkit-appearance: none;
          background-position: 1rem center;
          padding-left: 7rem;

          @media (max-width: 1200px) {
            padding-left: 6rem;
          }
          @media (max-width: 768px) {
            width: 50%;
          }
          @media (max-width: 768px) {
            padding-left: 5rem;
          }

          &::after,
          &::before {
            display: none;
          }

          .default {
            color: black !important;
          }

          &:focus {
            background-color: #f5f5f5;
            border-color: #e0e0e0;
            outline: none;
          }

          option {
            background-color: #f5f5f5;
            border-color: #e0e0e0;
            text-align: right;
          }
        }
      }
    }

    .logo {
      justify-content: flex-end;

      @media (max-width: 992px) {
        margin: 0 !important;
        margin-left: auto !important;
      }
      @media (max-width: 400px) {
        img {
          max-width: 75%;
        }
      }
    }
  }

  .header-nav {
    margin-top: 2rem;
    margin-top: 2rem;
    padding-bottom: 1rem;

    @media (max-width: 992px) {
      display: none;
    }

    .call {
      font-weight: 600;
      justify-content: flex-start;

      p {
        color: #1d1d1d;
        font-size: 1.1rem;
        margin: 0;
      }
    }

    .navbar {
      justify-content: flex-end;
      padding: 0;

      @media (max-width: 992px) {
        display: none;
      }
      .navbar-nav {
        a {
          color: black;
          font-weight: 600;
          font-size: 1rem;

          @media (max-width: 1200px) {
            font-size: 0.8rem;
          }

          &:hover {
            color: $color2;
          }
        }
      }
    }

    .categories {
      justify-content: flex-end;

      @media (max-width: 768px) {
        justify-content: center;
        margin-top: 1rem;
      }

      .dropdown {
        border: none;
        margin-top: 0.4rem;
        padding-left: 6rem;
        font-size: 1.3rem;
        font-weight: 600;

        &:focus {
          outline: none;
        }

        a {
          color: black;

          &:hover {
            color: $color2;
          }
        }
      }
    }
  }
}

main {
  padding-top: 2rem;
  #slider-banner {
    .swiper-container {
      width: 100%;
      height: 30rem;

      @media (max-width: 576px) {
        height: 330px;
      }

      //swiper bagenation
      .swiper-pagination-bullet {
        width: 1.5rem;
        height: 0.4rem;
        border-radius: 1rem;
      }
      .swiper-pagination-bullet-active {
        background-color: white;
      }

      //swiper buttons
      .swiper-button-prev,
      .swiper-button-next {
        color: #e3f3fd;
        background-color: #7d8d97;
        padding: 1.5rem;
        transition: all 0.3s ease-in;
        top: 50% !important;

        &:hover {
          background-color: white;
          color: $color1;
        }

        &:after {
          font-size: 1.5rem;
        }
      }

      .swiper-button-prev {
        left: 0;
      }

      .swiper-button-next {
        right: 0;
      }

      .swiper-slide {
        background-image: url("../img/banners/Vector\ Smart\ Object@1X.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        justify-content: center;
        align-items: center;

        .banner-img {
          @media (max-width: 576px) {
            text-align: center;
          }
          img {
            max-width: 90%;
            @media (max-width: 576px) {
              max-width: 35%;
            }
          }
        }

        .banner-text {
          text-align: right;
          font-size: 2.5rem;
          font-weight: 800;
          flex-direction: column;
          color: $color1;
          line-height: 2.5rem;

          @media (max-width: 768px) {
            font-size: 1.5rem;
            line-height: 1.5rem;
          }
          @media (max-width: 576px) {
            text-align: center;
            margin-top: -10rem;
          }
          span {
            font-size: 2rem;
            font-weight: 400;
            @media (max-width: 768px) {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  //most viewed
  #most-viewed {
    margin-top: 5rem;
    width: 100%;

    .most-viewed-slider {
      position: relative;
    }

    .most-viewed-banner {
      margin-top: 4rem;
      margin-bottom: 4rem;
      justify-content: space-between;

      @media (max-width: 576px) {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }
  }

  //special offers
  #special-offers {
    margin-top: 5rem;
    width: 100%;

    .special-offers-slider {
      position: relative;
    }

    .special-offers-banner {
      margin-top: 2rem;
      margin-bottom: 4rem;
      background-image: url("../img/banners/Vector\ Smart\ Object@1X.png");
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      min-height: 16rem;

      div {
        position: absolute;
      }

      .banner-img {
        img {
          @media (max-width: 992px) {
            width: 75%;
            transform: translateX(-15%);
          }
        }
      }

      .banner-head {
        text-align: center;
        h2 {
          color: $color1;
          margin-bottom: 2rem;
          text-align: center;

          @media (max-width: 576px) {
            font-size: 1.6rem;
          }
        }
        img {
          width: 40%;
        }
      }
    }
  }

  // best seller
  #best-seller {
    margin-top: 5rem;
    width: 100%;

    .best-seller-slider {
      position: relative;
    }

    .best-seller-banner {
      margin-top: 4rem;
      margin-bottom: 4rem;
      justify-content: space-between;
    }
  }

  //recent
  #recent {
    margin-top: 5rem;
    width: 100%;

    .recent-slider {
      position: relative;
    }

    .recent-banner {
      margin-top: 2rem;
      margin-bottom: 4rem;
      background-image: url("../img/banners/Vector\ Smart\ Object@1X.png");
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      min-height: 16rem;
      justify-content: space-around;
      padding-left: 3rem;

      @media (max-width: 576px) {
        padding-left: 0;
      }

      .banner-img {
        @media (max-width: 576px) {
          text-align: center;
        }
        img {
          @media (max-width: 992px) {
            width: 25%;
          }
          @media (max-width: 576px) {
            width: 20%;
          }
        }
        .img {
          margin-left: -4rem;
        }
      }

      .banner-head {
        color: $color1;
        @media (max-width: 768px) {
          h2,
          h4 {
            text-align: center;
            margin-top: 0;
          }
          text-align: center;
        }

        @media (max-width: 576px) {
          h2 {
            font-size: 1.7rem;
          }
          h4 {
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  //brands
  #brands {
    margin-top: 5rem;
    width: 100%;

    .brands-slider {
      position: relative;
    }

    .brands-swiper-container {
      //swiper buttons
      .swiper-slide {
        .slider-img {
          img {
            opacity: 0.5;
            filter: grayscale(1);
            transition: all 0.5s;

            &:hover {
              opacity: 1;
              filter: grayscale(0);
            }
          }
        }
      }
    }

    .brands-notes {
      margin-top: 3rem;
      padding: 1.5rem;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='2' stroke-dasharray='10' stroke-dashoffset='6' stroke-linecap='round'/%3e%3c/svg%3e");

      p {
        font-size: 1.3rem;
        margin: 0;
        text-align: center;
        color: $color1;
        font-weight: 500;

        @media (max-width: 768px) {
          font-size: 1rem;
          margin: 1rem;
        }

        img {
          margin-left: 0.7rem;
        }
      }
    }
  }
}

footer {
  margin-top: 2rem;
  padding: 5rem 0rem;
  background-color: $color1;
  color: white;

  .footer-top {
    .mail {
      @media (max-width: 768px) {
        margin-bottom: 4rem;
      }
      h4 {
        margin-bottom: 1.5rem;

        @media (max-width: 768px) {
          text-align: center;
        }
      }

      .form-group {
        position: relative;

        a {
          color: $color1;
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translate(0, -50%);
          font-size: 1.2rem;
          font-weight: 600;
          transition: all 0.5s;

          &:hover {
            color: #05304d;
          }
        }
        input.form-control {
          border-radius: 4rem;
          height: 3rem;
          border: none;
          &::placeholder {
            font-size: 1.2rem;
          }
        }
      }

      .social {
        margin-top: 1rem;

        a {
          height: 3.5rem;
          width: 3.5rem;
          border-radius: 100%;
          background-color: #1e618d;
          font-size: 1.3rem;
          margin: 0.5rem;
          transition: all 0.3s;
          color: white;

          &:hover {
            background-color: $color2;
            color: white;
          }
        }
      }
    }

    .links {
      align-items: flex-start;

      @media (max-width: 576px) {
        flex-wrap: wrap;
      }

      & > div {
        @media (max-width: 576px) {
          width: 50%;
          text-align: center;
        }
      }

      .head {
        h4 {
          margin-bottom: 1.5rem;

          @media (max-width: 1200px) {
            margin-bottom: 1rem;
          }
        }
      }

      .down {
        display: none;
      }

      li {
        margin-bottom: 0.5rem;
        transition: all 0.5s;
        @media (max-width: 576px) {
          margin-bottom: 1rem;
        }
        a {
          font-size: 1.1rem;
          color: #e0dfdf;
          transition: all 0.3s;
          @media (max-width: 1200px) {
            font-size: 0.8rem;
          }
          @media (max-width: 576px) {
            font-size: 1rem;
          }
          &:hover {
            color: #ba8c3e;
          }
        }
      }

      .dropdown2 {
        @media (max-width: 576px) {
          position: relative;
          cursor: pointer;
          display: inline-block;

          .down {
            display: inline-block;
          }

          a {
            color: black;

            &:hover {
              color: $color2;
            }
          }

          .dropdown-content {
            position: relative;
            background-color: transparent;
            min-width: auto;
            left: 0;
            box-shadow: none;
            padding: 0;
            z-index: -1;
            opacity: 0;
            height: 0;
            transition: all 0.1s;

            li {
              margin-bottom: 0;
            }

            a {
              color: white;
            }
          }
        }
      }

      .active {
        @media (max-width: 576px) {
          z-index: 15 !important;
          opacity: 1 !important;
          height: auto !important;

          li {
            margin-bottom: 0.5rem !important;
          }
        }
      }
    }

    .logo {
      @media (max-width: 768px) {
        margin-top: 4rem;
        text-align: center;
      }
      img {
        margin-bottom: 1.5rem;
        @media (max-width: 576px) {
          max-width: 50%;
        }
      }

      p {
        font-size: 1.1rem;
        @media (max-width: 1200px) {
          font-size: 0.9rem;
        }
        @media (max-width: 768px) {
          margin-top: 1rem;
          text-align: center;
        }
      }
    }
  }

  .footer-bottom {
    flex-direction: column;
    margin-top: 3rem;

    p {
      font-size: 1.2rem;

      @media (max-width: 768px) {
        font-size: 0.9rem;
        margin-top: 2rem;
      }
    }

    .payment {
      @media (max-width: 768px) {
        text-align: center;
      }
      img {
        opacity: 0.7;
        filter: grayscale(1);
        margin: 1rem;
        @media (max-width: 768px) {
          width: 10%;
        }
      }
    }
  }
}

// sec-nav

#sec-nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;
  background-color: transparent;

  .sec-head {
    display: flex;
    padding: 2rem 1rem;
    border-bottom: 1px solid gray;

    #close-btn {
      cursor: pointer;
    }
  }

  #sec-items {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    opacity: 0;
    transition: all 0.7s;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 11;
    font-size: 1.3rem;
    color: black;
    overflow-x: hidden;
    padding-right: 1rem;

    ul {
      display: flex;
      flex-direction: column-reverse;
    }

    li {
      text-align: right;
      margin: 0.5rem 1rem;

      a {
        color: black;

        &:hover {
          color: $color2;
        }
      }

      .menu {
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.5s;
      }

      .active {
        height: 100%;
        opacity: 1;
        margin-top: 15px;
      }
    }

    p {
      span {
        color: $color2;
      }
    }

    .drop {
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        color: $color2;
      }
    }
  }

  #sec-items.show {
    width: 250px !important;
    height: 100vh !important;
    opacity: 1 !important;
  }

  #sec-search {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    background-color: rgba(29, 29, 29, 0.95);
    z-index: -3;
    opacity: 0;
    transition: all 0.5s;

    form {
      width: 70%;
      flex-direction: column-reverse;

      .form-group {
        width: 100%;
        height: 100%;
        position: relative;
        flex-direction: column-reverse;
        height: fit-content;
      }

      input {
        width: 100%;
        height: 3rem;
        border-radius: 20px;
        text-align: left;
        padding: 0.5rem;
      }

      a {
        color: rgb(14, 13, 13);
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        font-size: 1.2rem;
        font-weight: 600;
        transition: all 0.5s;

        @media (max-width: 500px) {
          right: 10px;
        }

        &:hover {
          color: $color2;
        }
      }
      select {
        width: 100%;
        height: 3rem;
        background-color: #f5f5f5;
        border-radius: 20px;
        border-color: #e0e0e0;
        outline: none;
        position: relative;
        background-image: url(../img/icons/arrow-dark.png);
        background-repeat: no-repeat;
        -webkit-appearance: none;
        background-position: right center;
        margin-bottom: 2rem;
        padding: 0 10px;

        &::after,
        &::before {
          display: none;
        }

        .default {
          color: black !important;
        }

        &:focus {
          background-color: #f5f5f5;
          border-color: #e0e0e0;
          outline: none;
        }

        option {
          background-color: #f5f5f5;
          border-color: #e0e0e0;
          text-align: left;
        }
      }

      .close-search {
        font-size: 20px;
        font-weight: 700;
        color: white;
        background-color: #ffffff42;
        margin-bottom: 5rem;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        cursor: pointer;
      }
    }
  }

  .search-active {
    z-index: 16 !important;
    opacity: 1 !important;
    height: 100vh !important;
    width: 100% !important;
  }
}

.sec-nav-active {
  z-index: 15 !important;
  opacity: 1 !important;
  background-color: #000000d9 !important;
}
// LTR on the body element

#left {
  header .lang .prefix form,
  header .lang .container,
  header .header-nav .navbar .navbar-nav,
  header .header-nav .row,
  .swiper-container .row,
  .banner,
  .recent-banner,
  .footer-top {
    flex-direction: row-reverse;
  }

  .swiper-container .row .banner-text {
    margin-right: 0 !important;
    margin-left: auto;
    text-align: left;
  }
  .swiper-container .row .banner-img {
    margin-left: 0 !important;
    margin-right: auto;
  }

  header .header-nav .navbar {
    justify-content: center;
  }

  header .header-nav .categories {
    justify-content: flex-start;
  }

  *,
  *::before,
  *::after {
    text-align: left;
  }

  header .lang .greet {
    margin-right: auto;
    margin-left: 0 !important;

    p {
      text-align: left;
    }
  }

  header .header-logo {
    .row {
      flex-direction: row-reverse;
    }

    .search form .form-group {
      flex-direction: row-reverse;

      select {
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 0;
        background-position: right center;
      }

      input {
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }

    .sign {
      flex-direction: row-reverse;

      .link {
        margin-right: 2rem;
      }
    }
  }

  footer .footer-top .mail .form-group a {
    right: 20px;
    transform: rotateY(180deg) translateY(-10px);
  }
}
